name: Build and Test
on: [push, pull_request]
jobs:
  Build_and_Test:
    strategy:
      matrix:
        # Debug and Release might be different due to conditional compilation, so validate both.
        configuration: [Debug, Release]
    name: Build and Test (${{ matrix.configuration }})
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v4
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 10.0.x
    - name: Restore Dependencies
      run: dotnet restore
    - name: Build
      run: dotnet build --configuration ${{ matrix.configuration }} --no-restore
    - name: Test
      run: dotnet test --configuration ${{ matrix.configuration }} --no-build --nologo
